
.certificate{
    // font-size: 1rem !important;
    // font-family: 'Times New Roman', Times, serif !important;
    padding: 0px;
    .MuiTypography-body1{
     font-family: 'Times New Roman', Times, serif !important;
     font-size: large;
 }
     
     .MuiTableCell-head{
         text-align: center;
         font-weight: bold !important;
     }
    
 
 
     .MuiTableRow-root .MuiTableCell-root {
        font-family: 'Times New Roman', Times, serif;
         border: 1px solid #00000082;
         font-weight: 100;
         font-size: 1rem !important;
 
     }

 
 }