.tabCV{
    height: 1000px;
    background: white;
    margin: auto;  
    width: 1054px;  
    .left{
        width: 36%;
        padding-left: 40px;
        font-size: 16px;
        .avatar{
            width: 200px;
            height: 200px;
            margin:100px auto 10px auto;
        }
        .skills,.actions{
            .title{
                
               
                font-weight: bold;
                font-size: 22px;
                text-transform: uppercase;
            }
            ul{
                padding-left: 28px;
                margin-top: 10px;
                li{
                    line-height: 2;
                    
                }
            }
        }
        .language{
            .title{
                
                
                font-weight: bold;
                font-size: 22px;
                text-transform: uppercase;
            }
            ul{
                padding-left: 0px;
                margin-top: 10px;
                li{
                    line-height: 2;
                    list-style: none;
                    
                }
                .dot{
                    width: 8px;
                    height: 8px;
                    border: 1px solid black;
                    transform: rotate(45deg);
                    background: black;
                    &.outline{
                        background: white;
                       
                    }
                }
            }
        }
    }
    .right{
        width: 60%;
        font-size: 16px;
        .head{
            
            padding-left: 40px;
            margin-top: 60px;
            border-left: 1px solid black;
            margin-left: 18px;
            margin-bottom: 20px;
            .name{
                font-weight: 450;
             font-size: 42px;
             letter-spacing: 4px;
           }
           .job{
             
             font-size: 23px;
             text-transform: uppercase;
             font-weight: 600;
             letter-spacing: 3px;
 
           }
        }
        .info{
            .gender,.cake,.location{
                width: 42px;
                height: 42px;
                margin-right: 10px;
            }
        }
        .goal{
               
            padding-left: 40px;
            margin-top: 60px;
            border-left: 1px solid #00000047;
            margin-left: 18px;
            margin-bottom: 20px;
            width: 100%;
            .title{
               
                font-weight: bold;
                font-size: 22px;
                text-transform: uppercase;
            }
            .description{
                 background-color: #00000012;
                 position: relative;
                 padding: 30px 12px 10px 10px;
                 border-radius: 10px;
                 margin-top: 20px;
                 &::before{
                    content: '"';
                    position: absolute;
                    left: 4px;
                    top: 0px;
                    font-size: 40px;
                 }

                 &::after{
                    content: '"';
                    position: absolute;
                    right: 4px;
                    bottom: -28px;
                    font-size: 40px;
                 }
            }
        }
        .experience{
            padding-left: 40px;
            margin-top: 60px;
            border-left: 1px solid #00000047;
            margin-left: 10px;
            margin-bottom: 20px;
            width: 100%;
            .title{
                  
                font-weight: bold;
                font-size: 22px;
                text-transform: uppercase;
            }
            .description,.job{
                font-weight: bold;
                font-size: 17px;
                text-transform: uppercase;
                .dot{
                    font-size: 40px;
                }
               
            }
           
        }
        .certificate{
            padding-left: 40px;
            margin-top: 60px;
            border-left: 1px solid #00000047;
            margin-left: 18px;
            margin-bottom: 20px;
            width: 100%;
            .title{
                font-weight: bold;
                font-size: 17px;
                text-transform: uppercase;
            }
        }
        
        
    }
}